# debian
/build-stamp
/debian/files
/debian/*.debhelper.log
/debian/*.debhelper
/debian/*.substvars
/debian/tmp/
/debian/libv4l-0/
/debian/libv4l-dev/
/debian/v4l-utils/
# upstream
*.o
*.d
*.so
*.so.0
*.pc
*.a
